In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("건강보험심사평가원_시군구별 성별 연령군별 치매질환 진료 통계 2023.csv",encoding = 'EUC-KR')
df1

      진료년도  시도  시군구 성별      연령군   환자수  입내원일수    요양급여비용총액
0     2023  서울  강남구  남     0~9세     0      0           0
1     2023  서울  강남구  남   10~19세     0      0           0
2     2023  서울  강남구  남   20~29세     0      0           0
3     2023  서울  강남구  남   30~39세     0      0           0
4     2023  서울  강남구  남   40~49세     0      0           0
...    ...  ..  ... ..      ...   ...    ...         ...
5583  2023  세종  세종시  여   60~69세   108   1620   115079840
5584  2023  세종  세종시  여   70~79세   395   5628   390048730
5585  2023  세종  세종시  여   80~89세  1117  27709  1993346900
5586  2023  세종  세종시  여   90~99세   316  14473  1099869810
5587  2023  세종  세종시  여  100세 이상     0      0           0

[5588 rows x 8 columns]

In [8]:
df2 = pd.read_csv('경찰청_연도별 실종아동등 가출인 접수 및 해제현황_20231231.csv',encoding='EUC-KR')
df2.tail()

,연도,18세_미만_아동_접수,18세_미만_아동_해제,18세_미만_아동_미해제,지적자폐성정신장애인_접수,지적자폐성정신장애인_해제,지적자폐성정신장애인_미해제,치매환자_접수,치매환자_해제,치매환자_미해제,가출인(실종성인)_접수,가출인(실종성인)_해제,가출인(실종성인)_미해제
0,2021,21379,21257,3,7166,7168,4,12577,12562,9,66259,66536,334
1,2022,26416,26357,12,8344,8337,6,14527,14525,10,74936,75755,360
2,2023,25628,25516,72,8440,8434,42,14677,14654,23,74847,74827,842

In [50]:
age_idx = ['0~9세', '10~19세', '20~29세', '30~39세', '40~49세','50~59세','60~69세','70~79세',\
           '80~89세','90~99세']
age_df1= []
for i in range(10):
    age_df1.append(df1[df1['연령군']== age_idx[i]])

age_df1[7]
# 나이대별로 분리

      진료년도  시도   시군구 성별     연령군   환자수  입내원일수    요양급여비용총액
7     2023  서울   강남구  남  70~79세   507   2857   308115300
18    2023  서울   강남구  여  70~79세   928   3851   389854610
29    2023  서울   강동구  남  70~79세  1385  11247  1140804820
40    2023  서울   강동구  여  70~79세  1047   9200   864415390
51    2023  서울   강서구  남  70~79세   322   2663   231734520
...    ...  ..   ... ..     ...   ...    ...         ...
5540  2023  제주  서귀포시  여  70~79세   326   2033   106516240
5551  2023  제주   제주시  남  70~79세   589   8623   725658720
5562  2023  제주   제주시  여  70~79세   931   8918   728178760
5573  2023  세종   세종시  남  70~79세   227   3389   241562830
5584  2023  세종   세종시  여  70~79세   395   5628   390048730

[508 rows x 8 columns]

In [ ]:
age_total_group = df1.groupby('연령군')['환자수'].sum().reset_index
age_total_group
# 연력군별 환자수

<bound method Series.reset_index of 연령군
0~9세            0
100세 이상      2719
10~19세          0
20~29세          0
30~39세          0
40~49세         91
50~59세       4524
60~69세      41116
70~79세     180483
80~89세     428388
90~99세     121874
Name: 환자수, dtype: int64>

In [48]:
df2_columns_select = ['연도','치매환자_접수','치매환자_해제','치매환자_미해제']
new_df2 = df2[df2_columns_select].iloc[2]
new_df2

연도           2023
치매환자_접수     14677
치매환자_해제     14654
치매환자_미해제       23
Name: 2, dtype: int64