In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("건강보험심사평가원_시군구별 성별 연령군별 치매질환 진료 통계 2023.csv",encoding = 'EUC-KR')
df1

      진료년도  시도  시군구 성별      연령군   환자수  입내원일수    요양급여비용총액
0     2023  서울  강남구  남     0~9세     0      0           0
1     2023  서울  강남구  남   10~19세     0      0           0
2     2023  서울  강남구  남   20~29세     0      0           0
3     2023  서울  강남구  남   30~39세     0      0           0
4     2023  서울  강남구  남   40~49세     0      0           0
...    ...  ..  ... ..      ...   ...    ...         ...
5583  2023  세종  세종시  여   60~69세   108   1620   115079840
5584  2023  세종  세종시  여   70~79세   395   5628   390048730
5585  2023  세종  세종시  여   80~89세  1117  27709  1993346900
5586  2023  세종  세종시  여   90~99세   316  14473  1099869810
5587  2023  세종  세종시  여  100세 이상     0      0           0

[5588 rows x 8 columns]

In [4]:
df2 = pd.read_csv('경찰청_연도별 실종아동등 가출인 접수 및 해제현황_20231231.csv',encoding='EUC-KR')
df2.tail()

,연도,18세_미만_아동_접수,18세_미만_아동_해제,18세_미만_아동_미해제,지적자폐성정신장애인_접수,지적자폐성정신장애인_해제,지적자폐성정신장애인_미해제,치매환자_접수,치매환자_해제,치매환자_미해제,가출인(실종성인)_접수,가출인(실종성인)_해제,가출인(실종성인)_미해제
0,2021,21379,21257,3,7166,7168,4,12577,12562,9,66259,66536,334
1,2022,26416,26357,12,8344,8337,6,14527,14525,10,74936,75755,360
2,2023,25628,25516,72,8440,8434,42,14677,14654,23,74847,74827,842

In [5]:
age_idx = ['0~9세', '10~19세', '20~29세', '30~39세', '40~49세','50~59세','60~69세','70~79세',\
           '80~89세','90~99세']
age_df1= []
for i in range(10):
    age_df1.append(df1[df1['연령군']== age_idx[i]])

age_df1[7]
# 나이대별로 분리

      진료년도  시도   시군구 성별     연령군   환자수  입내원일수    요양급여비용총액
7     2023  서울   강남구  남  70~79세   507   2857   308115300
18    2023  서울   강남구  여  70~79세   928   3851   389854610
29    2023  서울   강동구  남  70~79세  1385  11247  1140804820
40    2023  서울   강동구  여  70~79세  1047   9200   864415390
51    2023  서울   강서구  남  70~79세   322   2663   231734520
...    ...  ..   ... ..     ...   ...    ...         ...
5540  2023  제주  서귀포시  여  70~79세   326   2033   106516240
5551  2023  제주   제주시  남  70~79세   589   8623   725658720
5562  2023  제주   제주시  여  70~79세   931   8918   728178760
5573  2023  세종   세종시  남  70~79세   227   3389   241562830
5584  2023  세종   세종시  여  70~79세   395   5628   390048730

[508 rows x 8 columns]

In [6]:
age_total_group = df1.groupby('연령군')['환자수'].sum().reset_index
age_total_group
# 연력군별 전체 환자수

<bound method Series.reset_index of 연령군
0~9세            0
100세 이상      2719
10~19세          0
20~29세          0
30~39세          0
40~49세         91
50~59세       4524
60~69세      41116
70~79세     180483
80~89세     428388
90~99세     121874
Name: 환자수, dtype: int64>

In [7]:
df2_columns_select = ['연도','치매환자_접수','치매환자_해제','치매환자_미해제']
new_df2 = df2[df2_columns_select].iloc[2]
new_df2

연도           2023
치매환자_접수     14677
치매환자_해제     14654
치매환자_미해제       23
Name: 2, dtype: int64

In [9]:
sex_total_group = df1.groupby('성별')['환자수'].sum().reset_index
sex_total_group

<bound method Series.reset_index of 성별
남    225089
여    554106
Name: 환자수, dtype: int64>

In [10]:
province_total_group = df1.groupby('시도')['환자수'].sum().reset_index
province_total_group

<bound method Series.reset_index of 시도
강원     22397
경기    167431
경남     60175
경북     58359
광주     25553
대구     45280
대전     22510
부산     53345
서울     89335
세종      2721
울산     14292
인천     34182
전남     50531
전북     48080
제주      9136
충남     47066
충북     28802
Name: 환자수, dtype: int64>

In [11]:
province_total_price = df1.groupby('시도')['요양급여비용총액'].sum().reset_index
province_total_price

<bound method Series.reset_index of 시도
강원     24500300680
경기    285640629520
경남    230333693510
경북    180593896420
광주    133822206790
대구    113654662870
대전     57575462480
부산    299447349820
서울    107557169650
세종      4315323530
울산     66983983980
인천     67712323850
전남    178443318260
전북    160415401670
제주     11300505470
충남     99151095030
충북     40425551560
Name: 요양급여비용총액, dtype: int64>

In [ ]:
province_days_mean = df1.groupby('시도')['입내원일수'].mean()
province_days_mean

시도
강원      816.439394
경기     3515.705051
경남     5818.123967
경북     4222.187500
광주    14162.690909
대구     6994.454545
대전     6430.836364
부산    10151.494318
서울     2127.945455
세종     2730.000000
울산     7327.400000
인천     3731.895455
전남     4358.886364
전북     5981.075758
제주     3260.977273
충남     3625.232955
충북     1736.821429
Name: 입내원일수, dtype: float64

시도
강원      816.439394
경기     3515.705051
경남     5818.123967
경북     4222.187500
광주    14162.690909
대구     6994.454545
대전     6430.836364
부산    10151.494318
서울     2127.945455
세종     2730.000000
울산     7327.400000
인천     3731.895455
전남     4358.886364
전북     5981.075758
제주     3260.977273
충남     3625.232955
충북     1736.821429
Name: 입내원일수, dtype: float64

In [18]:
age_days_mean = df1.groupby('연령군')['입내원일수'].mean()
age_days_mean

연령군
0~9세           0.000000
100세 이상      322.066929
10~19세         0.000000
20~29세         0.000000
30~39세         0.000000
40~49세         0.702756
50~59세       188.671260
60~69세      1864.503937
70~79세      7615.757874
80~89세     27262.557087
90~99세     11895.511811
Name: 입내원일수, dtype: float64

In [ ]:
age_price_mean = df1.groupby('연령군')['요양급여비용총액'].mean()
age_price_mean

연령군
0~9세       0.000000e+00
100세 이상    2.568803e+07
10~19세     0.000000e+00
20~29세     0.000000e+00
30~39세     0.000000e+00
40~49세     8.173329e+04
50~59세     1.735528e+07
60~69세     1.643385e+08
70~79세     6.512098e+08
80~89세     2.239705e+09
90~99세     9.604269e+08
Name: 요양급여비용총액, dtype: float64